@model SuperMarket_Management_System1.Models.Customer

@{
    ViewData["Title"] = "Customer";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Customer</h1>
        <form asp-action="AddOrEdit" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerId" />


            <div class="form-group">
                <label asp-for="Customer_Name" class="control-label"></label>
                <input asp-for="Customer_Name" class="form-control" />
                <span asp-validation-for="Customer_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <fieldset class="control-label">
                    Customer Type
                    <select asp-for="Type" class="form-control">
                    <option value="Silver">Silver</option>
                    <option value="Golden">Golden</option>
                    <option value="Platinium">Platinium</option>
                    </select>
                </fieldset>
            </div>
            <div class="form-group">
                <label asp-for="Last_Purchase" class="control-label"></label>
                <input asp-for="Last_Purchase" class="form-control" />
                <span asp-validation-for="Last_Purchase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total_Purchase" class="control-label"></label>
                <input asp-for="Total_Purchase" class="form-control" />
                <span asp-validation-for="Total_Purchase" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Mobile" class="control-label"></label>
                        <input asp-for="Mobile" class="form-control" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary w-100" />
                    </div>
                </div>
                <div class="col-md-6">
                    <a asp-action="Index" class="btn btn-secondary  w-100">View All</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }